In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
forest = pd.read_csv("forestfires.csv")

In [4]:
forest.tail()

,month,day,FFMC,DMC,DC,ISI,temp,RH,wind,rain,...,monthfeb,monthjan,monthjul,monthjun,monthmar,monthmay,monthnov,monthoct,monthsep,size_category
512,aug,sun,81.6,56.7,665.6,1.9,27.8,32,2.7,0.0,...,0,0,0,0,0,0,0,0,0,large
513,aug,sun,81.6,56.7,665.6,1.9,21.9,71,5.8,0.0,...,0,0,0,0,0,0,0,0,0,large
514,aug,sun,81.6,56.7,665.6,1.9,21.2,70,6.7,0.0,...,0,0,0,0,0,0,0,0,0,large
515,aug,sat,94.4,146.0,614.7,11.3,25.6,42,4.0,0.0,...,0,0,0,0,0,0,0,0,0,small
516,nov,tue,79.5,3.0,106.7,1.1,11.8,31,4.5,0.0,...,0,0,0,0,0,0,1,0,0,small

In [5]:
from sklearn.preprocessing import LabelEncoder

In [6]:
encoding = LabelEncoder()

In [7]:
forest = forest.drop(columns=['month'])

In [8]:
forest['size_category']=encoding.fit_transform(forest['size_category'])

In [9]:
forest = pd.get_dummies(forest)

In [10]:
forest.head()

,FFMC,DMC,DC,ISI,temp,RH,wind,rain,area,dayfri,...,monthoct,monthsep,size_category,day_fri,day_mon,day_sat,day_sun,day_thu,day_tue,day_wed
0,86.2,26.2,94.3,5.1,8.2,51,6.7,0.0,0.0,1,...,0,0,1,1,0,0,0,0,0,0
1,90.6,35.4,669.1,6.7,18.0,33,0.9,0.0,0.0,0,...,1,0,1,0,0,0,0,0,1,0
2,90.6,43.7,686.9,6.7,14.6,33,1.3,0.0,0.0,0,...,1,0,1,0,0,1,0,0,0,0
3,91.7,33.3,77.5,9.0,8.3,97,4.0,0.2,0.0,1,...,0,0,1,1,0,0,0,0,0,0
4,89.3,51.3,102.2,9.6,11.4,99,1.8,0.0,0.0,0,...,0,0,1,0,0,0,1,0,0,0

In [11]:
forest.size_category.value_counts()

1    378
0    139
Name: size_category, dtype: int64

In [12]:
features = forest.drop(columns=['size_category'])

In [13]:
label = forest['size_category']

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test = train_test_split(features,label,test_size=0.3)

In [16]:
from sklearn.svm import SVC

In [17]:
model = SVC()

In [18]:
model.fit(x_train,y_train)

SVC()

In [19]:
y_pred = model.predict(x_test)

In [20]:
from sklearn.metrics import classification_report

In [21]:
print(classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.07      1.00      0.13         3
           1       1.00      0.74      0.85       153

    accuracy                           0.74       156
   macro avg       0.53      0.87      0.49       156
weighted avg       0.98      0.74      0.84       156